{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "globals": {
    "beforeEach": true,
    "describe": true,
    "it": true
  },
  "rules": {
    "semi": "error"
  }
}
