{
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "globals": {
    "beforeEach": true,
    "describe": true,
    "it": true
  },
  "rules": {
    "camelcase": "off",
    "quotes": [
      "error",
      "double"
    ],
    "semi": [
      "error",
      "always"
    ],
    "array-element-newline": [
      "error",
      "consistent"
    ],
    "no-var": "error",
    "newline-per-chained-call": "error",
    "space-before-function-paren": [
      "error",
      "never"
    ]
  }
}
