# coverage
lib-cov
coverage

# plato
report

# docs
site
.tmp

# node
node_modules
npm-debug.log

# phpstorm
.idea

# mac
.DS_Store

\.nyc_output/

\.vscode/

packages/*/dist/
packages/*/tsconfig.tsbuildinfo

doc/docs/user-guide/rules/list/

doc/docs/index.md
