{
  "extends": "@istanbuljs/nyc-config-typescript",
  "check-coverage": false,
  "all": true,
  "include": [
    "src/"
  ],
  "exclude": [
    "dist/"
  ],
  "reporter": [
    "html",
    "lcov",
    "text",
    "text-summary"
  ],
  "report-dir": "coverage"
}
